---
import { Classroom } from '@backend/classroom';
import { Exercise } from '@backend/exercise';
import { Semester } from '@backend/semester';
import { Subject } from '@backend/subject';
import type { ClassroomData } from '@components/classrooms/types';
import type { ExerciseData } from '@components/exercises/types';
import type { SemesterData } from '@components/semesters/types';
import type { SubjectData } from '@components/subjects/types';
import { formatDateLocalYyyyMmDd } from '@components/utils';
import Layout from '@layouts/Layout.astro';
import EditExercise from '@components/exercises/EditExercise.vue';

const { semesterSlug, subjectSlug, exerciseNumber } = Astro.params;
const { langId, user } = Astro.locals;

const translations = {
    'en': {
        'Semesters': 'Semesters',
        'Winter semester': 'Winter semester',
        'Summer semester': 'Summer semester',
    },
    'pl': {
        'Semesters': 'Semestry',
        'Winter semester': 'Semestr zimowy',
        'Summer semester': 'Semestr letni',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

if (semesterSlug === undefined || subjectSlug === undefined || exerciseNumber === undefined) {
    return new Response(null, { status: 404 });
}

const semester = await Semester.fetchBySlug(semesterSlug);
if (!semester) {
    return new Response(null, { status: 404 });
}

const semesterName = `${semester.type === 'summer' ? translate('Summer semester') : translate('Winter semester')} ${semester.year}/${semester.year + 1}`;

const subject = await Subject.fetchBySlug(semester, subjectSlug);
if (!subject) {
    return new Response(null, { status: 404 });
}

const exerciseNumberParsed = parseInt(exerciseNumber, 10);
if (Number.isNaN(exerciseNumberParsed)) {
    return new Response(null, { status: 404 });
}

const exercise = await Exercise.fetchByNumber(subject, exerciseNumberParsed);
if (!exercise) {
    return new Response(null, { status: 404 });
}

const semesterData: SemesterData = {
    id: semester.id,
    type: semester.type,
    year: semester.year,
    slug: semester.slug,
    startDate: formatDateLocalYyyyMmDd(semester.startDate),
    endDate: formatDateLocalYyyyMmDd(semester.endDate),
};

const subjectData: SubjectData = {
    id: subject.id,
    name: subject.name,
    semesterId: subject.semesterId,
    slug: subject.slug,
};

const exerciseData: ExerciseData = {
    id: exercise.id,
    name: exercise.name,
    exerciseNumber: exercise.exerciseNumber,
    subjectId: exercise.subjectId,
    classroomId: exercise.classroomId,
};

const classrooms = await Classroom.fetchAll();

const classroomsData: ClassroomData[] = classrooms.map(classroom => ({
    id: classroom.id,
    name: classroom.name,
}));
---

<Layout
    breadcrumbs={[
        {
            text: translate('Semesters'),
            href: '/semesters/',
        },
        {
            text: semesterName,
            href: `/semesters/${semesterSlug}/`,
        },
        {
            text: subject.name,
            href: `/semesters/${semesterSlug}/${subjectSlug}/`,
        },
        {
            text: exercise.name,
            href: '#',
        },
    ]}
>
    <h1 class="text-center fs-3">
        {exercise.exerciseNumber}. {exercise.name}
        {
            user && (
                <EditExercise
                    client:only="vue"
                    semester={semesterData}
                    subject={subjectData}
                    exercise={exerciseData}
                    classrooms={classroomsData}
                />
            )
        }
    </h1>
</Layout>
