---
import { Semester } from '@backend/semester';
import { Subject } from '@backend/subject';
import type { SemesterData } from '@components/semesters/types';
import { formatDateLocalYyyyMmDd } from '@components/utils';
import Layout from '@layouts/Layout.astro';
import EditSemester from '@components/semesters/EditSemester.vue';
import AddSubject from '@components/subjects/AddSubject.vue';

const { semesterSlug } = Astro.params;
const { langId, user } = Astro.locals;

const translations = {
    'en': {
        'Semesters': 'Semesters',
        'Winter semester': 'Winter semester',
        'Summer semester': 'Summer semester',
    },
    'pl': {
        'Semesters': 'Semestry',
        'Winter semester': 'Semestr zimowy',
        'Summer semester': 'Semestr letni',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

if (semesterSlug === undefined) {
    return new Response(null, { status: 404 });
}

const semester = await Semester.fetchBySlug(semesterSlug);
if (!semester) {
    return new Response(null, { status: 404 });
}

const semesterName = `${semester.type === 'summer' ? translate('Summer semester') : translate('Winter semester')} ${semester.year}/${semester.year + 1}`;

const semesterData: SemesterData = {
    id: semester.id,
    type: semester.type,
    year: semester.year,
    slug: semester.slug,
    startDate: formatDateLocalYyyyMmDd(semester.startDate),
    endDate: formatDateLocalYyyyMmDd(semester.endDate),
};

const subjects = await Subject.fetchAllFromSemester(semester);
---

<Layout
    breadcrumbs={[
        { text: translate('Semesters'), href: '/semesters/' },
        {
            text: semesterName,
            href: '#',
        },
    ]}
>
    <h1 class="text-center fs-5">
        {semesterName}
        {user && <EditSemester client:only="vue" semester={semesterData} />}
    </h1>
    <div class="text-center">
        {semester.startDate.toLocaleDateString('pl-PL')} - {semester.endDate.toLocaleDateString('pl-PL')}
    </div>
    <div class="my-2">
        {user && <AddSubject client:only="vue" semester={semesterData} />}
    </div>
    <div class="subjects-list list-group mx-auto my-4">
        {
            subjects.map(
                s =>
                    (
                        <a
                            href={`/semesters/${semesterSlug}/${s.slug}/`}
                            class="list-group-item list-group-item-action"
                        >
                            {s.name}
                        </a>
                    ) as unknown,
            )
        }
    </div>
</Layout>

<style>
    .subjects-list {
        max-width: 600px;
    }
</style>
