---
import { Classroom, makeClassroomData } from '@backend/classroom';
import { makeScheduleChangeData, makeSemesterData, Semester } from '@backend/semester';
import { makeSubjectData, Subject } from '@backend/subject';
import { makeUserPublicData, User } from '@backend/user';
import Layout from '@layouts/Layout.astro';
import EditSemester from '@components/semesters/EditSemester.vue';
import SemesterCalendar from '@components/semesters/SemesterCalendar.vue';
import Show from '@components/Show.astro';
import AddSubject from '@components/subjects/AddSubject.vue';

const { semesterSlug } = Astro.params;
const { langId, user } = Astro.locals;

const translations = {
    'en': {
        'Semesters': 'Semesters',
        'Winter semester': 'Winter semester',
        'Summer semester': 'Summer semester',
        'Full-time first-cycle studies': 'Full-time first-cycle studies',
        'Full-time second-cycle studies': 'Full-time second-cycle studies',
        'Part-time first-cycle studies': 'Part-time first-cycle studies',
        'Part-time second-cycle studies': 'Part-time second-cycle studies',
    },
    'pl': {
        'Semesters': 'Semestry',
        'Winter semester': 'Semestr zimowy',
        'Summer semester': 'Semestr letni',
        'Full-time first-cycle studies': 'Studia stacjonarne I stopnia (Inżynierskie)',
        'Full-time second-cycle studies': 'Studia stacjonarne II stopnia (Magisterskie)',
        'Part-time first-cycle studies': 'Studia niestacjonarne I stopnia (Inżynierskie)',
        'Part-time second-cycle studies': 'Studia niestacjonarne II stopnia (MSU)',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

if (semesterSlug === undefined) {
    return new Response(null, { status: 404 });
}

const semester = await Semester.fetchBySlug(semesterSlug);
if (!semester) {
    return new Response(null, { status: 404 });
}

const semesterName = `${semester.type === 'summer' ? translate('Summer semester') : translate('Winter semester')} ${semester.year}/${semester.year + 1}`;
const semesterData = makeSemesterData(semester);

const subjects = await Subject.fetchAllFromSemester(semester);
const allUsers = await User.fetchAll();
const allUsersData = allUsers.map(user => makeUserPublicData(user));
const subjectsData = subjects.map(subject => makeSubjectData(subject, allUsers));

const scheduleChanges = await semester.getScheduleChanges();
const scheduleChangesData = scheduleChanges.map(makeScheduleChangeData);

const classrooms = await Classroom.fetchAll();
const classroomsData = classrooms.map(makeClassroomData);

const subjectGroups = [
    {
        subjects: subjects
            .filter(subject => subject.studyCycle === 'first-cycle' && subject.studyMode === 'full-time')
            .sort((a, b) => a.semesterNumber - b.semesterNumber),
        title: translate('Full-time first-cycle studies'),
    },
    {
        subjects: subjects
            .filter(subject => subject.studyCycle === 'second-cycle' && subject.studyMode === 'full-time')
            .sort((a, b) => a.semesterNumber - b.semesterNumber),
        title: translate('Full-time second-cycle studies'),
    },
    {
        subjects: subjects
            .filter(subject => subject.studyCycle === 'first-cycle' && subject.studyMode === 'part-time')
            .sort((a, b) => a.semesterNumber - b.semesterNumber),
        title: translate('Part-time first-cycle studies'),
    },
    {
        subjects: subjects
            .filter(subject => subject.studyCycle === 'second-cycle' && subject.studyMode === 'part-time')
            .sort((a, b) => a.semesterNumber - b.semesterNumber),
        title: translate('Part-time second-cycle studies'),
    },
];
---

<Layout
    breadcrumbs={[
        {
            text: translate('Semesters'),
            href: '/semesters/',
        },
        {
            text: semesterName,
            href: '#',
        },
    ]}
>
    <h1 class="text-center fs-4">
        {semesterName}
        <Show when={user !== null}>
            <EditSemester client:only="vue" semester={semesterData} />
        </Show>
    </h1>
    <div class="text-center">
        {semester.startDate.toLocaleDateString('pl-PL')} - {semester.endDate.toLocaleDateString('pl-PL')}
    </div>
    {
        subjectGroups.map(({ subjects, title }) => (
            <Show when={subjects.length > 0}>
                <h2 class="text-center fs-6 mt-3">{title}</h2>
                <div class="subjects-list list-group mx-auto">
                    {subjects.map(subject => (
                        <a
                            href={`/semesters/${semesterSlug}/subjects/${subject.slug}/`}
                            class="list-group-item list-group-item-action"
                        >
                            {subject.fullName}
                        </a>
                    ))}
                </div>
            </Show>
        ))
    }
    <Show when={user !== null}>
        <AddSubject client:only="vue" semester={semesterData} allUsers={allUsers} class:list="d-block mx-auto mt-3" />
    </Show>
    <div class="mt-4">
        <SemesterCalendar
            client:only="vue"
            semester={semesterData}
            scheduleChanges={scheduleChangesData}
            subjects={subjectsData}
            classrooms={classroomsData}
            allUsers={allUsersData}
        />
    </div>
</Layout>

<style>
    .subjects-list {
        width: min(700px, 100%);
    }
</style>
