---
import { Classroom, makeClassroomData } from '@backend/classroom';
import { makeScheduleChangeData, makeSemesterData, Semester } from '@backend/semester';
import { makeSubjectData, Subject } from '@backend/subject';
import { User } from '@backend/user';
import Layout from '@layouts/Layout.astro';
import EditSemester from '@components/semesters/EditSemester.vue';
import SemesterCalendar from '@components/semesters/SemesterCalendar.vue';
import Show from '@components/Show.astro';
import AddSubject from '@components/subjects/AddSubject.vue';

const { semesterSlug } = Astro.params;
const { langId, user } = Astro.locals;

const translations = {
    'en': {
        'Semesters': 'Semesters',
        'Winter semester': 'Winter semester',
        'Summer semester': 'Summer semester',
        'Subjects': 'Subjects',
    },
    'pl': {
        'Semesters': 'Semestry',
        'Winter semester': 'Semestr zimowy',
        'Summer semester': 'Semestr letni',
        'Subjects': 'Przedmioty',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

if (semesterSlug === undefined) {
    return new Response(null, { status: 404 });
}

const semester = await Semester.fetchBySlug(semesterSlug);
if (!semester) {
    return new Response(null, { status: 404 });
}

const semesterName = `${semester.type === 'summer' ? translate('Summer semester') : translate('Winter semester')} ${semester.year}/${semester.year + 1}`;
const semesterData = makeSemesterData(semester);

const subjects = await Subject.fetchAllFromSemester(semester);
const allUsers = await User.fetchAll();
const subjectsData = subjects.map(subject => makeSubjectData(subject, allUsers));

const scheduleChanges = await semester.getScheduleChanges();
const scheduleChangesData = scheduleChanges.map(makeScheduleChangeData);

const classrooms = await Classroom.fetchAll();
const classroomsData = classrooms.map(makeClassroomData);
---

<Layout
    breadcrumbs={[
        {
            text: translate('Semesters'),
            href: '/semesters/',
        },
        {
            text: semesterName,
            href: '#',
        },
    ]}
>
    <h1 class="text-center fs-4">
        {semesterName}
        <Show when={user !== null}>
            <EditSemester client:only="vue" semester={semesterData} />
        </Show>
    </h1>
    <div class="text-center">
        {semester.startDate.toLocaleDateString('pl-PL')} - {semester.endDate.toLocaleDateString('pl-PL')}
    </div>
    <h2 class="text-center fs-5 mt-3">
        {translate('Subjects')}
    </h2>
    <div class="vstack gap-3 align-items-center">
        <Show when={subjects.length > 0}>
            <div class="subjects-list list-group">
                {
                    subjects.map(
                        subject =>
                            (
                                <a
                                    href={`/semesters/${semesterSlug}/subjects/${subject.slug}/`}
                                    class="list-group-item list-group-item-action"
                                >
                                    {subject.name}
                                </a>
                            ) as unknown,
                    )
                }
            </div>
        </Show>
        <Show when={user !== null}>
            <AddSubject client:only="vue" semester={semesterData} allUsers={allUsers} />
        </Show>
    </div>
    <div class="mt-5">
        <SemesterCalendar
            client:only="vue"
            semester={semesterData}
            scheduleChanges={scheduleChangesData}
            subjects={subjectsData}
            classrooms={classroomsData}
        />
    </div>
</Layout>

<style>
    .subjects-list {
        width: min(600px, 100%);
    }
</style>
