---
import { makeSemesterData, Semester } from '@backend/semester';
import { Subject } from '@backend/subject';
import { User } from '@backend/user';
import type { SemesterData } from '@components/semesters/types';
import Layout from '@layouts/Layout.astro';
import EditSemester from '@components/semesters/EditSemester.vue';
import AddSubject from '@components/subjects/AddSubject.vue';

const { semesterSlug } = Astro.params;
const { langId, user } = Astro.locals;

const translations = {
    'en': {
        'Semesters': 'Semesters',
        'Winter semester': 'Winter semester',
        'Summer semester': 'Summer semester',
    },
    'pl': {
        'Semesters': 'Semestry',
        'Winter semester': 'Semestr zimowy',
        'Summer semester': 'Semestr letni',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

if (semesterSlug === undefined) {
    return new Response(null, { status: 404 });
}

const semester = await Semester.fetchBySlug(semesterSlug);
if (!semester) {
    return new Response(null, { status: 404 });
}

const semesterName = `${semester.type === 'summer' ? translate('Summer semester') : translate('Winter semester')} ${semester.year}/${semester.year + 1}`;

const semesterData: SemesterData = makeSemesterData(semester);

const subjects = await Subject.fetchAllFromSemester(semester);

const allUsers = await User.fetchAll();
---

<Layout
    breadcrumbs={[
        {
            text: translate('Semesters'),
            href: '/semesters/',
        },
        {
            text: semesterName,
            href: '#',
        },
    ]}
>
    <h1 class="text-center fs-4">
        {semesterName}
        {user && <EditSemester client:only="vue" semester={semesterData} />}
    </h1>
    <div class="text-center">
        {semester.startDate.toLocaleDateString('pl-PL')} - {semester.endDate.toLocaleDateString('pl-PL')}
    </div>
    {
        user && (
            <div class="my-2">
                <AddSubject client:only="vue" semester={semesterData} allUsers={allUsers} />
            </div>
        )
    }
    <div class="subjects-list list-group mx-auto my-4">
        {
            subjects.map(
                subject =>
                    (
                        <a
                            href={`/semesters/${semesterSlug}/subjects/${subject.slug}/`}
                            class="list-group-item list-group-item-action"
                        >
                            {subject.name}
                        </a>
                    ) as unknown,
            )
        }
    </div>
</Layout>

<style>
    .subjects-list {
        max-width: 600px;
    }
</style>
