---
import { db } from '@backend/db';
import Layout from '@layouts/Layout.astro';
import CounterApp from '@components/CounterApp.vue';

const { session, langId, user } = Astro.locals;

session.counter ??= 0;
session.counter++;

const databaseCounter = (await db.query<{ count: number }>('SELECT Count(*) as count FROM counter')).rows[0]?.count;

const translations = {
    'en': {
        'Hello World': 'Hello World',
        'Session counter': 'Session counter',
        'Database counter': 'Database counter',
        'Count': 'Count',
        'Increment counter': 'Increment counter',
        'Language': 'Language',
        'User not logged in': 'User not logged in',
        'User uuid': 'User uuid',
        'User name': 'User name',
        'User email': 'User email',
    },
    'pl': {
        'Hello World': 'Witaj Świecie',
        'Session counter': 'Licznik sesji',
        'Database counter': 'Licznik bazy danych',
        'Count': 'Liczba',
        'Increment counter': 'Zwiększ licznik',
        'Language': 'Język',
        'User not logged in': 'Użytkownik niezalogowany',
        'User uuid': 'Uuid użytkownika',
        'User name': 'Nazwa użytkownika',
        'User email': 'Email użytkownika',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}
---

<Layout
    breadcrumbs={[
        { text: 'Index', href: '/' },
        { text: 'ABC', href: '/abc/' },
        { text: 'DEF', href: '/def/' },
        { text: 'GHI', href: '/ghi/' },
    ]}
>
    <div class="text-center py-2">
        {translate('Hello World')}!
        <i class="bi bi-emoji-smile"></i>
        <br />
        <a href="/semesters/">Semesters list</a>
        <br />
        {translate('Session counter')}: {session.counter}
        <br />
        {translate('Database counter')}: {databaseCounter}
        <br />
        {
            user === null ? (
                <p>{translate('User not logged in')}</p>
            ) : (
                <p>
                    {translate('User uuid')}: {user.id}
                    <br />
                    {translate('User name')}: {user.name}
                    <br />
                    {translate('User email')}: {user.email}
                </p>
            )
        }
        <br />
        <form action="/increment-counter/" method="post">
            <input type="number" name="count" class="form-control" placeholder={translate('Count')} />
            <button type="submit" class="btn btn-success"> {translate('Increment counter')} </button>
        </form>
        <CounterApp client:only="vue" />
        {translate('Language')}: {langId}
    </div>
</Layout>
