---
import { langIds } from '@backend/lang';

interface Props {
    breadcrumbs: Breadcrumb[];
}

const { breadcrumbs } = Astro.props;
const { langId } = Astro.locals;

const translations = {
    'en': {
        'Sign in': 'Sign in',
    },
    'pl': {
        'Sign in': 'Zaloguj się',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

const altLang = langIds.find(l => l != langId);
---

<nav class="navbar bg-body-tertiary border-bottom navbar-expand-md border-secondary-subtle">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">Lab KTI</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarDesktop"
            aria-controls="navbarDesktop"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDesktop">
            <div class="d-flex align-items-center w-100 justify-content-between">
                <ol class="breadcrumb m-0">
                    {
                        breadcrumbs.map(
                            ({ text, href }, i) =>
                                (i != breadcrumbs.length - 1 ? (
                                    <li class="breadcrumb-item">
                                        <a
                                            href={href}
                                            class="text-reset link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                                        >
                                            {text}
                                        </a>
                                    </li>
                                ) : (
                                    <li class="breadcrumb-item active text-success fw-semibold" aria-current="page">
                                        {text}
                                    </li>
                                )) as unknown,
                        )
                    }
                </ol>
                <div class="d-flex align-items-center gap-2">
                    <a href="/" role="button" class="btn btn-success btn-sm">{translate('Sign in')}</a>
                    {
                        altLang && (
                            <a
                                href={`/lang/${altLang}/`}
                                class="text-reset link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
                            >
                                {altLang.toUpperCase()}
                            </a>
                        )
                    }
                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    nav {
        margin-inline: calc((100vw - 100%) / -2);
        padding-inline: calc((100vw - 100%) / 2);
    }
</style>
