---
import { makeLoginNextParam } from 'src/utils';

interface Props {
    breadcrumbs: Breadcrumb[];
}

const { breadcrumbs } = Astro.props;
const { langId, user } = Astro.locals;

const translations = {
    'en': {
        'Sign in': 'Sign in',
        'Sign out': 'Sign out',
        'Profile': 'Profile',
        'Users': 'Users',
        'Classrooms': 'Classrooms',
    },
    'pl': {
        'Sign in': 'Zaloguj się',
        'Sign out': 'Wyloguj się',
        'Profile': 'Profil',
        'Users': 'Użytkownicy',
        'Classrooms': 'Sale',
    },
};

function translate(text: keyof (typeof translations)[LangId]): string {
    return translations[langId][text];
}

const altLang = langId === 'en' ? 'pl' : 'en';

const languageLabels: Record<LangId, string> = {
    'en': 'English',
    'pl': 'Polski',
};

const loginParams = makeLoginNextParam(Astro.url);

const initials = user?.name
    .split(' ')
    .map(word => word.charAt(0).toUpperCase())
    .join('');
---

<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom border-secondary-subtle">
    <div class="container-xxl">
        <a class="navbar-brand order-first" href="/">Lab KTI</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarDesktop"
            aria-controls="navbarDesktop"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDesktop">
            <div class="d-flex justify-content-between align-items-center w-100">
                <ol class="breadcrumb m-0">
                    {
                        breadcrumbs.map(
                            ({ text, href }, i) =>
                                (i !== breadcrumbs.length - 1 ? (
                                    <li class="breadcrumb-item">
                                        <a
                                            href={href}
                                            class="link-success link-underline-opacity-0 link-underline-opacity-100-hover"
                                        >
                                            {text}
                                        </a>
                                    </li>
                                ) : (
                                    <li class="breadcrumb-item active fw-semibold" aria-current="page">
                                        {text}
                                    </li>
                                )) as unknown,
                        )
                    }
                </ol>
            </div>
        </div>
        <div class="d-flex align-items-center gap-3 order-first order-md-last px-3 ms-auto">
            {
                user === null ? (
                    <a href={`/login/${loginParams}`} role="button" class="btn btn-success btn-sm text-nowrap">
                        {translate('Sign in')}
                    </a>
                ) : (
                    <>
                        <div class="dropdown">
                            <div class="hstack" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="initials btn btn-light border rounded-circle">{initials}</span>
                                <span class="ms-1 dropdown-toggle" />
                            </div>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <p class="ms-3 my-0">{user.name}</p>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/profile/">
                                        {translate('Profile')}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/users/">
                                        {translate('Users')}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/classrooms/">
                                        {translate('Classrooms')}
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <form action={`/api/logout/${loginParams}`} method="post">
                                        <button type="submit" class="text-nowrap dropdown-item">
                                            {translate('Sign out')}
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </>
                )
            }
            <a
                href={`/lang/${altLang}/?${new URLSearchParams({ next: `${Astro.url.pathname}${Astro.url.search}` }).toString()}`}
                class="link-body-emphasis link-underline-opacity-0 link-underline-opacity-100-hover"
            >
                {languageLabels[altLang]}
            </a>
        </div>
    </div>
</nav>

<style>
    nav {
        margin-inline: calc((100vw - 100%) / -2);
        padding-inline: calc((100vw - 100%) / 2);
    }

    .initials {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
